# 2.Construct an undirected graph of districts out of this new file(generated in Question 1). In the graph, every district is a node. A district node is connected by an edge to every adjacent district of it, and vice versa.

In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
with open('./Output_Files/Q1/neighbor-districts-modified.json') as read_it:
     json_data = json.load(read_it)

In [3]:
edge_graph=[]
for i in json_data:
    for j in json_data[i]:
        element=[]
        element.append(i)
        element.append(j)
        if [j,i] not in edge_graph:
            edge_graph.append(element)

In [4]:
df=pd.DataFrame(edge_graph,columns=['Node1','Node2'])
df

                     Node1                 Node2
0             AP_Anantapur           AP_Chittoor
1             AP_Anantapur            AP_Kurnool
2             AP_Anantapur      AP_Y.S.R. Kadapa
3             AP_Anantapur            KA_Ballari
4             AP_Anantapur    KA_Chikkaballapura
...                    ...                   ...
1913  WB_North 24 Parganas  WB_South 24 Parganas
1914  WB_Paschim Bardhaman    WB_Purba Bardhaman
1915  WB_Paschim Bardhaman            WB_Purulia
1916  WB_Paschim Medinipur    WB_Purba Medinipur
1917    WB_Purba Medinipur  WB_South 24 Parganas

[1918 rows x 2 columns]

In [5]:
df.to_csv("./Output_Files/Q2/edge-graph.csv",index=False)