# 3.For every district i, find the number of cases from the Covid-19 portal. Take the time-period of analysis from 15th March, 2020 to 14th August, 2021.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
dist = "districts.csv"
cowin_data = 'cowin_vaccine_data_districtwise.csv' #distkey

In [3]:
week = './Output_Files/Q3/cases-week.csv'
month = './Output_Files/Q3/cases-month.csv'
overall = './Output_Files/Q3/cases-overall.csv'

In [4]:
#District_Key is taken from vaccine data and only req columns are taken into dataframe
vac_data = pd.read_csv(cowin_data,usecols = ['State','District','District_Key'],index_col=False)
covid_cases = pd.read_csv(dist,parse_dates=['Date'],usecols=['State','District','Date','Confirmed'],index_col=False)

In [5]:
covid_cases = covid_cases[covid_cases['Date'] <= '2021-08-14']

In [6]:
#Group by 'Date' column and give numbers started from 1 to each date, in newly created 'Dateid'
covid_cases['Dateid'] = covid_cases.groupby(['Date']).ngroup() + 1

In [7]:
#Creating month ids using newly created Date1 column
covid_cases['Date1'] = covid_cases["Date"] + timedelta(days=-14)
covid_cases['monthid'] = pd.DatetimeIndex(covid_cases['Date1']).month + 100*pd.DatetimeIndex(covid_cases['Date1']).year
covid_cases

,Date,State,District,Confirmed,Dateid,Date1,monthid
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,1,2020-04-12,202004
1,2020-04-26,Andhra Pradesh,Anantapur,53,1,2020-04-12,202004
2,2020-04-26,Andhra Pradesh,Chittoor,73,1,2020-04-12,202004
3,2020-04-26,Andhra Pradesh,East Godavari,39,1,2020-04-12,202004
4,2020-04-26,Andhra Pradesh,Guntur,214,1,2020-04-12,202004
...,...,...,...,...,...,...,...
307241,2021-08-14,West Bengal,Purba Bardhaman,40280,476,2021-07-31,202107
307242,2021-08-14,West Bengal,Purba Medinipur,61010,476,2021-07-31,202107
307243,2021-08-14,West Bengal,Purulia,19214,476,2021-07-31,202107
307244,2021-08-14,West Bengal,South 24 Parganas,96779,476,2021-07-31,202107
307245,2021-08-14,West Bengal,Uttar Dinajpur,19536,476,2021-07-31,202107

In [8]:
#5th Jan 2020, first Sunday of the year
covid_cases['Diff']=pd.to_datetime(covid_cases['Date'])-pd.to_datetime('2020-01-05')
covid_cases['dayid'] = ((covid_cases['Diff']/ np.timedelta64(1, 'D'))/7 ).astype(int)
covid_cases

,Date,State,District,Confirmed,Dateid,Date1,monthid,Diff,dayid
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,1,2020-04-12,202004,112 days,16
1,2020-04-26,Andhra Pradesh,Anantapur,53,1,2020-04-12,202004,112 days,16
2,2020-04-26,Andhra Pradesh,Chittoor,73,1,2020-04-12,202004,112 days,16
3,2020-04-26,Andhra Pradesh,East Godavari,39,1,2020-04-12,202004,112 days,16
4,2020-04-26,Andhra Pradesh,Guntur,214,1,2020-04-12,202004,112 days,16
...,...,...,...,...,...,...,...,...,...
307241,2021-08-14,West Bengal,Purba Bardhaman,40280,476,2021-07-31,202107,587 days,83
307242,2021-08-14,West Bengal,Purba Medinipur,61010,476,2021-07-31,202107,587 days,83
307243,2021-08-14,West Bengal,Purulia,19214,476,2021-07-31,202107,587 days,83
307244,2021-08-14,West Bengal,South 24 Parganas,96779,476,2021-07-31,202107,587 days,83
307245,2021-08-14,West Bengal,Uttar Dinajpur,19536,476,2021-07-31,202107,587 days,83

In [9]:
covid_cases['weekid'] = covid_cases.groupby(['dayid']).ngroup() + 1
covid_cases

,Date,State,District,Confirmed,Dateid,Date1,monthid,Diff,dayid,weekid
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,1,2020-04-12,202004,112 days,16,1
1,2020-04-26,Andhra Pradesh,Anantapur,53,1,2020-04-12,202004,112 days,16,1
2,2020-04-26,Andhra Pradesh,Chittoor,73,1,2020-04-12,202004,112 days,16,1
3,2020-04-26,Andhra Pradesh,East Godavari,39,1,2020-04-12,202004,112 days,16,1
4,2020-04-26,Andhra Pradesh,Guntur,214,1,2020-04-12,202004,112 days,16,1
...,...,...,...,...,...,...,...,...,...,...
307241,2021-08-14,West Bengal,Purba Bardhaman,40280,476,2021-07-31,202107,587 days,83,68
307242,2021-08-14,West Bengal,Purba Medinipur,61010,476,2021-07-31,202107,587 days,83,68
307243,2021-08-14,West Bengal,Purulia,19214,476,2021-07-31,202107,587 days,83,68
307244,2021-08-14,West Bengal,South 24 Parganas,96779,476,2021-07-31,202107,587 days,83,68
307245,2021-08-14,West Bengal,Uttar Dinajpur,19536,476,2021-07-31,202107,587 days,83,68

In [10]:
#df = df[df['monthid'] < 202109]

In [11]:
covid_cases['Monthid'] = covid_cases.groupby(['monthid']).ngroup() + 1 
covid_cases

,Date,State,District,Confirmed,Dateid,Date1,monthid,Diff,dayid,weekid,Monthid
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,1,2020-04-12,202004,112 days,16,1,1
1,2020-04-26,Andhra Pradesh,Anantapur,53,1,2020-04-12,202004,112 days,16,1,1
2,2020-04-26,Andhra Pradesh,Chittoor,73,1,2020-04-12,202004,112 days,16,1,1
3,2020-04-26,Andhra Pradesh,East Godavari,39,1,2020-04-12,202004,112 days,16,1,1
4,2020-04-26,Andhra Pradesh,Guntur,214,1,2020-04-12,202004,112 days,16,1,1
...,...,...,...,...,...,...,...,...,...,...,...
307241,2021-08-14,West Bengal,Purba Bardhaman,40280,476,2021-07-31,202107,587 days,83,68,16
307242,2021-08-14,West Bengal,Purba Medinipur,61010,476,2021-07-31,202107,587 days,83,68,16
307243,2021-08-14,West Bengal,Purulia,19214,476,2021-07-31,202107,587 days,83,68,16
307244,2021-08-14,West Bengal,South 24 Parganas,96779,476,2021-07-31,202107,587 days,83,68,16
307245,2021-08-14,West Bengal,Uttar Dinajpur,19536,476,2021-07-31,202107,587 days,83,68,16

In [12]:
covid_cases.drop(columns={"Diff"})

,Date,State,District,Confirmed,Dateid,Date1,monthid,dayid,weekid,Monthid
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,1,2020-04-12,202004,16,1,1
1,2020-04-26,Andhra Pradesh,Anantapur,53,1,2020-04-12,202004,16,1,1
2,2020-04-26,Andhra Pradesh,Chittoor,73,1,2020-04-12,202004,16,1,1
3,2020-04-26,Andhra Pradesh,East Godavari,39,1,2020-04-12,202004,16,1,1
4,2020-04-26,Andhra Pradesh,Guntur,214,1,2020-04-12,202004,16,1,1
...,...,...,...,...,...,...,...,...,...,...
307241,2021-08-14,West Bengal,Purba Bardhaman,40280,476,2021-07-31,202107,83,68,16
307242,2021-08-14,West Bengal,Purba Medinipur,61010,476,2021-07-31,202107,83,68,16
307243,2021-08-14,West Bengal,Purulia,19214,476,2021-07-31,202107,83,68,16
307244,2021-08-14,West Bengal,South 24 Parganas,96779,476,2021-07-31,202107,83,68,16
307245,2021-08-14,West Bengal,Uttar Dinajpur,19536,476,2021-07-31,202107,83,68,16

In [13]:
data = pd.merge(vac_data,covid_cases,how='inner',left_on=['District','State'],right_on = ['District','State'])
data.rename(columns={'districtid':'District_Key'},inplace=True)
data

,State,District_Key,District,Date,Confirmed,Dateid,Date1,monthid,Diff,dayid,weekid,Monthid
0,Andhra Pradesh,AP_Anantapur,Anantapur,2020-04-26,53,1,2020-04-12,202004,112 days,16,1,1
1,Andhra Pradesh,AP_Anantapur,Anantapur,2020-04-27,53,2,2020-04-13,202004,113 days,16,1,1
2,Andhra Pradesh,AP_Anantapur,Anantapur,2020-04-28,54,3,2020-04-14,202004,114 days,16,1,1
3,Andhra Pradesh,AP_Anantapur,Anantapur,2020-04-29,58,4,2020-04-15,202004,115 days,16,1,1
4,Andhra Pradesh,AP_Anantapur,Anantapur,2020-04-30,61,5,2020-04-16,202004,116 days,16,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
306249,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-10,56384,472,2021-07-27,202107,583 days,83,68,16
306250,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-11,56402,473,2021-07-28,202107,584 days,83,68,16
306251,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-12,56411,474,2021-07-29,202107,585 days,83,68,16
306252,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-13,56424,475,2021-07-30,202107,586 days,83,68,16
306253,West Bengal,WB_Paschim Bardhaman,Paschim Bardhaman,2021-08-14,56437,476,2021-07-31,202107,587 days,83,68,16

In [14]:
check1=data[data["District_Key"]=="WB_Uttar Dinajpur"]
check1=check1[check1["Monthid"]==15]
check1

,State,District_Key,District,Date,Confirmed,Dateid,Date1,monthid,Diff,dayid,weekid,Monthid
305717,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-15,18618,416,2021-06-01,202106,527 days,75,60,15
305718,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-16,18650,417,2021-06-02,202106,528 days,75,60,15
305719,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-17,18674,418,2021-06-03,202106,529 days,75,60,15
305720,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-18,18726,419,2021-06-04,202106,530 days,75,60,15
305721,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-19,18763,420,2021-06-05,202106,531 days,75,60,15
305722,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-20,18789,421,2021-06-06,202106,532 days,76,61,15
305723,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-21,18818,422,2021-06-07,202106,533 days,76,61,15
305724,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-22,18853,423,2021-06-08,202106,534 days,76,61,15
305725,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-23,18879,424,2021-06-09,202106,535 days,76,61,15
305726,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-24,18920,425,2021-06-10,202106,536 days,76,61,15
305727,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-25,18956,426,2021-06-11,202106,537 days,76,61,15
305728,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-26,18994,427,2021-06-12,202106,538 days,76,61,15
305729,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-27,19014,428,2021-06-13,202106,539 days,77,62,15
305730,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-28,19034,429,2021-06-14,202106,540 days,77,62,15
305731,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-29,19056,430,2021-06-15,202106,541 days,77,62,15
305732,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-06-30,19064,431,2021-06-16,202106,542 days,77,62,15
305733,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-01,19116,432,2021-06-17,202106,543 days,77,62,15
305734,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-02,19123,433,2021-06-18,202106,544 days,77,62,15
305735,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-03,19143,434,2021-06-19,202106,545 days,77,62,15
305736,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-04,19156,435,2021-06-20,202106,546 days,78,63,15
305737,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-05,19166,436,2021-06-21,202106,547 days,78,63,15
305738,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-06,19191,437,2021-06-22,202106,548 days,78,63,15
305739,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-07,19198,438,2021-06-23,202106,549 days,78,63,15
305740,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-08,19220,439,2021-06-24,202106,550 days,78,63,15
305741,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-09,19232,440,2021-06-25,202106,551 days,78,63,15
305742,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-10,19238,441,2021-06-26,202106,552 days,78,63,15
305743,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-11,19242,442,2021-06-27,202106,553 days,79,64,15
305744,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-12,19249,443,2021-06-28,202106,554 days,79,64,15
305745,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-13,19256,444,2021-06-29,202106,555 days,79,64,15
305746,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,2021-07-14,19269,445,2021-06-30,202106,556 days,79,64,15

In [15]:
len(data['District_Key'].unique())

630

In [16]:
data_month = data[['District_Key','Monthid','Confirmed']]
data_week = data[['District_Key','weekid','Confirmed']]
data_overall = data[['District_Key','Confirmed']]

In [17]:
check=data_month[data_month["District_Key"]=="WB_Uttar Dinajpur"]
check=check[check["Monthid"]==16]

In [18]:
check

             District_Key  Monthid  Confirmed
305747  WB_Uttar Dinajpur       16      19273
305748  WB_Uttar Dinajpur       16      19293
305749  WB_Uttar Dinajpur       16      19303
305750  WB_Uttar Dinajpur       16      19312
305751  WB_Uttar Dinajpur       16      19315
305752  WB_Uttar Dinajpur       16      19323
305753  WB_Uttar Dinajpur       16      19335
305754  WB_Uttar Dinajpur       16      19349
305755  WB_Uttar Dinajpur       16      19357
305756  WB_Uttar Dinajpur       16      19369
305757  WB_Uttar Dinajpur       16      19374
305758  WB_Uttar Dinajpur       16      19377
305759  WB_Uttar Dinajpur       16      19384
305760  WB_Uttar Dinajpur       16      19389
305761  WB_Uttar Dinajpur       16      19393
305762  WB_Uttar Dinajpur       16      19400
305763  WB_Uttar Dinajpur       16      19414
305764  WB_Uttar Dinajpur       16      19424
305765  WB_Uttar Dinajpur       16      19425
305766  WB_Uttar Dinajpur       16      19442
305767  WB_Uttar Dinajpur       16      19454
305768  WB_Uttar Dinajpur       16      19461
305769  WB_Uttar Dinajpur       16      19470
305770  WB_Uttar Dinajpur       16      19480
305771  WB_Uttar Dinajpur       16      19487
305772  WB_Uttar Dinajpur       16      19493
305773  WB_Uttar Dinajpur       16      19498
305774  WB_Uttar Dinajpur       16      19513
305775  WB_Uttar Dinajpur       16      19519
305776  WB_Uttar Dinajpur       16      19528
305777  WB_Uttar Dinajpur       16      19536

In [19]:
data_month = data_month.groupby(['Monthid','District_Key'])['Confirmed'].max().reset_index(name='Confirmed') 
data_week = data_week.groupby(['weekid','District_Key'])['Confirmed'].max().reset_index(name='Confirmed') 
data_overall = data_overall.groupby(['District_Key'])['Confirmed'].max().reset_index(name='Cases')

In [20]:
data_month[data_month["District_Key"]=="AP_East Godavari"]

      Monthid      District_Key  Confirmed
2           1  AP_East Godavari         51
498         2  AP_East Godavari        352
1117        3  AP_East Godavari       3115
1741        4  AP_East Godavari      38292
2370        5  AP_East Godavari      78220
2999        6  AP_East Godavari     107888
3628        7  AP_East Godavari     120302
4257        8  AP_East Godavari     123016
4886        9  AP_East Godavari     124027
5515       10  AP_East Godavari     124360
6145       11  AP_East Godavari     124646
6775       12  AP_East Godavari     127106
7405       13  AP_East Godavari     176803
8035       14  AP_East Godavari     248466
8665       15  AP_East Godavari     271149
9295       16  AP_East Godavari     282389

In [21]:
#data_month['Confirmed'] = data_month.Confirmed.diff()
#print(data_month)

In [22]:
data_week['Cases'] = data_week.groupby(['District_Key'])['Confirmed'].diff().fillna(data_week['Confirmed'])

In [23]:
data_month['Cases'] = data_month.groupby(['District_Key'])['Confirmed'].diff().fillna(data_month['Confirmed'])

In [24]:
data_month[data_month["District_Key"]=="AP_East Godavari"]

      Monthid      District_Key  Confirmed    Cases
2           1  AP_East Godavari         51     51.0
498         2  AP_East Godavari        352    301.0
1117        3  AP_East Godavari       3115   2763.0
1741        4  AP_East Godavari      38292  35177.0
2370        5  AP_East Godavari      78220  39928.0
2999        6  AP_East Godavari     107888  29668.0
3628        7  AP_East Godavari     120302  12414.0
4257        8  AP_East Godavari     123016   2714.0
4886        9  AP_East Godavari     124027   1011.0
5515       10  AP_East Godavari     124360    333.0
6145       11  AP_East Godavari     124646    286.0
6775       12  AP_East Godavari     127106   2460.0
7405       13  AP_East Godavari     176803  49697.0
8035       14  AP_East Godavari     248466  71663.0
8665       15  AP_East Godavari     271149  22683.0
9295       16  AP_East Godavari     282389  11240.0

In [25]:
data_week = data_week[['District_Key','weekid','Cases']]
data_week.rename(columns={'District_Key':'districtid'},inplace=True)

In [26]:
data_month = data_month[['District_Key','Monthid','Cases']]
data_month.rename(columns={'District_Key':'districtid','Monthid':'monthid'},inplace=True)

In [27]:
data_overall.rename(columns={'District_Key':'districtid','Cases':'cases'},inplace=True)

In [28]:
data_week.sort_values(["districtid","weekid"],inplace=True)
data_month.sort_values(["districtid","monthid"],inplace=True)
data_overall.sort_values("districtid",inplace=True)

In [29]:
data_month.to_csv(month,index=False)

In [30]:
data_week.to_csv(week,index=False)

In [31]:
data_overall.to_csv(overall,index=False)