# 6.For each state, district and overall, find the following ratios:
    Total number of females vaccinated (either 1 or 2 doses) to total number of males vaccinated (same).
    Find the ratio of population of females to males. (If a district is absent in 2011 census, drop it from analysis.) 
    Now find the ratio of the two ratios, i.e., vaccination ratio to population ratio

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta 
import os

In [2]:
distkey = 'cowin_vaccine_data_districtwise.csv'

In [3]:
census_2011 ="Census2011data.xlsx"
df_census=pd.read_excel(census_2011,usecols= 'A,G,H,I,L,M')

In [4]:
Name_changes={"JAMMU & KASHMIR": "Jammu and Kashmir",
               "ANDAMAN & NICOBAR ISLANDS": "Andaman and Nicobar Islands",
               "DADRA & NAGAR HAVELI": "Dadra and Nagar Haveli and Daman and Diu",
               "DAMAN & DIU": "Dadra and Nagar Haveli and Daman and Diu","Mumbai Suburban":"Mumbai"}
state_id_change={26:25}

In [5]:
df_census.replace({'Name': Name_changes,"State":state_id_change},inplace= True)

In [6]:
df_census

      State     Level                     Name    TRU      TOT_M      TOT_F
0         0     India                    India  Total  623270258  587584719
1         0     India                    India  Rural  427781058  405967794
2         0     India                    India  Urban  195489200  181616925
3         1     STATE        Jammu and Kashmir  Total    6640662    5900640
4         1     STATE        Jammu and Kashmir  Rural    4774477    4333583
...     ...       ...                      ...    ...        ...        ...
2023     35  DISTRICT  North  & Middle Andaman  Rural      53457      49399
2024     35  DISTRICT  North  & Middle Andaman  Urban       1404       1337
2025     35  DISTRICT            South Andaman  Total     127283     110859
2026     35  DISTRICT            South Andaman  Rural      52103      45292
2027     35  DISTRICT            South Andaman  Urban      75180      65567

[2028 rows x 6 columns]

In [7]:
df_census=df_census.groupby(["State","Level","Name","TRU"], as_index=False).agg({'TOT_M':'sum','TOT_F':'sum'})

In [8]:
df_state = df_census[df_census['Level'] == 'STATE']
df_state = df_state.groupby(['Name'])['State'].max().reset_index(name='Stateid') 
df_state = df_state.rename(columns = {'Name':'State Name'})

In [9]:
data = pd.merge(df_census,df_state,how='inner',left_on='State',right_on = ['Stateid'])

In [10]:
data = data[data['Level'] == 'DISTRICT']

In [11]:
data

,State,Level,Name,TRU,TOT_M,TOT_F,State Name,Stateid
0,1,DISTRICT,Anantnag,Rural,411012,384793,Jammu and Kashmir,1
1,1,DISTRICT,Anantnag,Total,559767,518925,Jammu and Kashmir,1
2,1,DISTRICT,Anantnag,Urban,148755,134132,Jammu and Kashmir,1
3,1,DISTRICT,Badgam,Rural,343385,312448,Jammu and Kashmir,1
4,1,DISTRICT,Badgam,Total,398041,355704,Jammu and Kashmir,1
...,...,...,...,...,...,...,...,...
2011,35,DISTRICT,North & Middle Andaman,Total,54861,50736,Andaman and Nicobar Islands,35
2012,35,DISTRICT,North & Middle Andaman,Urban,1404,1337,Andaman and Nicobar Islands,35
2013,35,DISTRICT,South Andaman,Rural,52103,45292,Andaman and Nicobar Islands,35
2014,35,DISTRICT,South Andaman,Total,127283,110859,Andaman and Nicobar Islands,35
2015,35,DISTRICT,South Andaman,Urban,75180,65567,Andaman and Nicobar Islands,35

In [12]:
data = data[['State Name','Name','TRU','TOT_M','TOT_F']]

In [13]:
rename_dist = {'Allahabad ':'Prayagraj','Ahmadabad':'Ahmedabad', 'East District':'East Sikkim',
        'North  District': 'North Sikkim', 'South District':'South Sikkim','West District':'West Sikkim','Garhwal':'Pauri Garhwal',
         'Gulbarga':'Kalaburagi','Ahmadnagar':'Ahmednagar','Almora\n':'Almora','Amritsar ':'Amritsar',
       'Anand  ': 'Anand','Anugul  ':'Angul','Ariyalur  ':'Ariyalur','Badgam':'Budgam','Bagalkot ':'Bagalkote',
        'Baleshwar':'Balasore','Banas Kantha':'Banaskantha','Bandipore':'Bandipora','Bangalore Rural':'Bengaluru Rural',
        'Bangalore':'Bengaluru Urban','Bijapur':'Vijayapura',
        'Bankura ':'Bankura','Bara Banki':'Barabanki','Baramula':'Baramulla',"Barddhaman ":"Barddhaman",'Barwani ':'Barwani','Baudh':'Boudh',
        'Belgaum':'Belagavi','Bellary':'Ballari', 'Bid':'Beed','Bulandshahr ':'Bulandshahr','Buldana':'Buldhana',
        'Central':'Central Delhi','Chamarajanagar':'Chamarajanagara','Chikmagalur':'Chikkamagaluru',
         'Chittaurgarh':'Chittorgarh', 'Dadra & Nagar Haveli':'Dadra and Nagar Haveli', 'Darjiling ':'Darjeeling',
         'Debagarh':'Deogarh', 'Dhamtari ':'Dhamtari', 'Dhaulpur':'Dholpur', 'Dimapur ':'Dimapur', 'Dindori ':'Dindori',
        'Dohad  ':'Dahod', 'East':'East Delhi', 'Faizabad':'Ayodhya', 'Firozpur':'Ferozepur', 'Ganganagar ':'Ganganagar',
         'Garhwa ':'Garhwa', 'Gondiya':'Gondia', 'Gurgaon':'Gurugram', 'Haora ':'Howrah', 'Harda ':'Harda',
         'Hardwar':'Haridwar', 'Hugli ':'Hooghly', 'Idukki ':'Idukki','Jagatsinghapur ':'Jagatsinghpur',
         'Jaintia Hills':'West Jaintia Hills', 'Jajapur  ':'Jajpur', 'Jalaun ':'Jalaun', 'Jalor':'Jalore',
         'Jalpaiguri ':'Jalpaiguri', 'Janjgir - Champa':'Janjgir Champa', 'Jashpur ':'Jashpur', 'Jehanabad ':'Jehanabad',
        'Jhunjhunun':'Jhunjhunu', 'Jyotiba Phule Nagar':'Amroha', 'Kachchh':'Kutch', 'Kaimur (Bhabua)':'Kaimur',
         'Kanniyakumari':'Kanyakumari', 'Kanshiram Nagar':'Kasganj', 'Kapurthala ':'Kapurthala', 'Karur ':'Karur',
         'Katni ':'Katni', 'Kendrapara ': 'Kendrapara', 'Khandwa (East Nimar)':'Khandwa','Khargone (West Nimar)':'Khargone',
         'Kheri':'Lakhimpur Kheri', 'Khordha ':'Khordha', 'Koch Bihar ':'Cooch Behar', 'Kodarma':'Koderma', 'Korba ':'Korba',
         'Lahul & Spiti':'Lahaul and Spiti', 'Leh(Ladakh)':'Leh', 'Mahamaya Nagar':'Hathras', 'Mahbubnagar':'Mahabubnagar',
        'Mahesana':'Mehsana', 'Mahrajganj':'Maharajganj', 'Maldah ':'Malda', 'Malkangiri  ':'Malkangiri', 'Mewat ':'Nuh',
         'Muktsar':'Sri Muktsar Sahib', 'Murshidabad ':'Murshidabad', 'Mysore':'Mysuru', 'Nabarangapur ':'Nabarangapur',
         'Nadia ':'Nadia', 'Nagapattinam  ': 'Nagapattinam','Namakkal   ':'Namakkal', 'Narsimhapur':'Narsinghpur', 'Navsari  ':'Navsari', 'Nayagarh  ':'Nayagarh',
         'Neemuch ':'Neemuch', 'North':'North Delhi', 'North  & Middle Andaman':'North and Middle Andaman', 'North East':'North East Delhi',
         'North Twenty Four Parganas':'North 24 Parganas', 'North West':'North West Delhi', 'Palwal ':'Palwal',
         'Panch Mahals':'Panchmahal','Pashchim Champaran':'West Champaran', 'Pashchimi Singhbhum':'West Singhbhum', 'Patan  ':'Patan',
         'Perambalur  ':'Perambalur', 'Porbandar ':'Porbandar', 'Purba Champaran':'East Champaran', 'Purbi Singhbhum': 'East Singhbhum',
         'Puruliya':'Purulia', 'Rangareddy':'Ranga Reddy',"Raigarh":"Raigad",'Rayagada  ':'Rayagada','Sabar Kantha':'Sabarkantha', 'Sahibzada Ajit Singh Nagar':'S.A.S. Nagar', 'Sant Ravidas Nagar (Bhadohi)':'Bhadohi',
         'Shahid Bhagat Singh Nagar ':'Shahid Bhagat Singh Nagar', 'Sheopur ':'Sheopur', 'Shimoga':'Shivamogga',
         'Shupiyan': 'Shopiyan', 'South':'South Delhi','South Tripura ':'South Tripura', 'South Twenty Four Parganas':'South 24 Parganas', 'South West':'South West Delhi',
         'Sri Potti Sriramulu Nellore':'S.P.S. Nellore', 'Tamenglong ':'Tamenglong', 'The Dangs':'Dang',
         'The Nilgiris':'Nilgiris', 'Theni  ': 'Theni', 'Tirunelveli ':'Tirunelveli', 'Tumkur':'Tumakuru',
         'West':'West Delhi', 'West Tripura ':'West Tripura', 'Y.S.R.':'Y.S.R. Kadapa'}

In [14]:
print(len(rename_dist))
data.replace({'Name':rename_dist},inplace=True)

142

C:\Users\saiki\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [15]:
data['State Name'] = data['State Name'].str.upper()
data['Name'] = data['Name'].str.upper()

<ipython-input-1-229db36152c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['State Name'] = data['State Name'].str.upper()
<ipython-input-1-229db36152c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Name'] = data['Name'].str.upper()

In [16]:
data = data[data['TRU'] == 'Total']

In [17]:
df1 = pd.read_csv(distkey,index_col=0,usecols=[0,1,2,3,4,5,2111,2112],low_memory=False)

In [18]:
df1

,State_Code,State,District_Key,Cowin Key,District,14/08/2021.5,14/08/2021.6
S No,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,Male(Individuals Vaccinated),Female(Individuals Vaccinated)
1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,16267,13922
2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,50819,46493
3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,108324,94124
4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,893118,1067715
...,...,...,...,...,...,...,...
751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,418785,368255
752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,244036,266445
753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,916041,847823
754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,386259,327606
755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,587059,457639

In [19]:
df1 = df1[df1['14/08/2021.5'] != 'Male(Individuals Vaccinated)']

In [20]:
df1

,State_Code,State,District_Key,Cowin Key,District,14/08/2021.5,14/08/2021.6
S No,,,,,,,
1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,16267,13922
2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,50819,46493
3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,108324,94124
4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,893118,1067715
5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,1004937,1201195
...,...,...,...,...,...,...,...
751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,418785,368255
752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,244036,266445
753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,916041,847823
754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,386259,327606
755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,587059,457639

In [21]:
df1 = df1.rename(columns = {'14/08/2021.5':'Male','14/08/2021.6' : 'Female'})

In [22]:
df1 = df1[['State','State_Code','District','District_Key','Male','Female']]

In [23]:
df1['State'] = df1['State'].str.upper()
df1['District'] = df1['District'].str.upper()

In [24]:
df1.replace({'State': {"DELHI": "NCT OF DELHI","TELANGANA": "ANDHRA PRADESH"}},inplace= True)

In [25]:
dist_changes={"WARANGAL RURAL":"WARANGAL","WARANGAL URBAN":"WARANGAL","KOMARAM BHEEM":"ADILABAD","MANCHERIAL":"ADILABAD",
"NIRMAL":"ADILABAD","WANAPARTHY":"MAHABUBNAGAR","NAGARKURNOOL":"MAHABUBNAGAR","KAMAREDDY":"NIZAMABAD","SANGAREDDY":"MEDAK",
"SIDDIPET":"MEDAK","BHADRADRI KOTHAGUDEM":"KHAMMAM","JAGTIAL":"KARIMNAGAR","JANGAON":"NALGONDA",
"JAYASHANKAR BHUPALAPALLY":"KARIMNAGAR","JOGULAMBA GADWAL":"MAHABUBNAGAR","MEDCHAL MALKAJGIRI":"RANGA REDDY",
"MULUGU":"WARANGAL","NARAYANPET":"MAHABUBNAGAR",
"PEDDAPALLI":"KARIMNAGAR","RAJANNA SIRCILLA":"KARIMNAGAR","SURYAPET":"NALGONDA","VIKARABAD":"RANGA REDDY",
              "YADADRI BHUVANAGIRI":"NALGONDA"
             }
dist_key_changes={"TG_Warangal Rural":"TG_Warangal","TG_Warangal Urban":"TG_Warangal","TG_Komaram Bheem":"TG_Adilabad",
"TG_Mancherial":"TG_Adilabad","TG_Nirmal":"TG_Adilabad","TG_Wanaparthy":"TG_Mahabubnagar","TG_Nagarkurnool":"TG_Mahabubnagar",
"TG_Kamareddy":"TG_Nizamabad","TG_Sangareddy":"TG_Medak","TG_Siddipet":"TG_Medak","TG_Bhadradri Kothagudem":"TG_Khammam",
"TG_Jagtial":"TG_Karimnagar","TG_Jangaon":"TG_Nalgonda","TG_Jayashankar Bhupalapally":"TG_Karimnagar",
"TG_Jogulamba Gadwal":"TG_Mahabubnagar","TG_Medchal Malkajgiri":"TG_Ranga Reddy","TG_Mulugu":"TG_Warangal",
"TG_Narayanpet":"TG_Mahabubnagar","TG_Peddapalli":"TG_Karimnagar","TG_Rajanna Sircilla":"TG_Karimnagar",
"TG_Suryapet":"TG_Nalgonda","TG_Vikarabad":"TG_Ranga Reddy","TG_Yadadri Bhuvanagiri":"TG_Nalgonda"
                 }

In [26]:
df1.replace({'District': dist_changes,"District_Key":dist_key_changes},inplace= True)

In [27]:
df1.replace({'District': {"PASCHIM BARDHAMAN":"BARDDHAMAN","PURBA BARDHAMAN":"BARDDHAMAN"},
             "District_Key":{"WB_Paschim Bardhaman":"WB_Barddhaman","WB_Purba Bardhaman":"WB_Barddhaman"}},inplace= True)

In [28]:
df1.replace({'State': {"LADAKH": "JAMMU AND KASHMIR"}},inplace= True)

In [29]:
df1["Male"]=df1["Male"].astype(int)
df1["Female"]=df1["Female"].astype(int)
df1=df1.groupby(["State","State_Code","District","District_Key"], as_index=False).agg({'Male':'sum','Female':'sum'}).reset_index()

In [30]:
data_final  = pd.merge(data,df1,how='inner',left_on=['State Name','Name'],right_on=['State','District'],sort=True)

In [31]:
data_district = data_final[['District_Key','Male','Female','TOT_M','TOT_F']]
data_district = data_district.rename(columns={'District_Key':'districtid'})

In [32]:
data_district['vaccinationratio'] = data_district['Female'].astype(float)/data_district['Male'].astype(float)

In [33]:
data_district['populationratio'] = data_district['TOT_F'].astype(float)/data_district['TOT_M'].astype(float)

In [34]:
data_district['ratioofratios'] = data_district['vaccinationratio']/data_district['populationratio']

In [35]:
data_district = data_district[['districtid','vaccinationratio','populationratio','ratioofratios']]

In [36]:
data_district.sort_values("ratioofratios",axis=0,ascending = True,inplace = True ,kind = 'quicksort',na_position = 'last' )

In [37]:
data_state = data_final[['State_Code','Male','Female','TOT_M','TOT_F']]

In [38]:
data_state = data_state.rename(columns={'State_Code':'Stateid'})
data_state = data_state.groupby(['Stateid'],as_index=False).agg({'Male':'sum','Female':'sum','TOT_M':'sum','TOT_F':'sum'})
#data_state = data_state.groupby(['Stateid'],as_index=False)["Male","Female",'TOT_M','TOT_F'].apply(lambda x : x.astype(int).sum())
print(data_state)

   Stateid      Male    Female      TOT_M     TOT_F
0       AN    175410    154539     202871    177710
1       AP  11404153  13593094   24738068  24648731
2       AR    394830    317525     709498    666225
3       AS   6592408   5904973   15939443  15266133
4       BR  16028771  13991844   54278157  49821295
5       CH    557241    420544     580663    474787
6       CT   4198391   4141650   11953954  11842030
7       DL   5524279   4110617    8987326   7800615
8       DN    459960    228702     344061    242895
9       GA    775729    666866     739140    719405
10      GJ  19607521  16186126   31491260  28948432
11      HP   3235925   3227200    3481873   3382729
12      HR   7367076   5917855   13494734  11856728
13      JH   5998147   4932484   16930315  16057819
14      JK   4078026   3040382    6483906   5783107
15      KA  17332703  17161214   30966657  30128640
16      KL  11472595  12462142   16027412  17378649
17      LA    148068    114265     156756    117533
18      LD     37963     31585      33123     31350
19      MH  26228580  22141633   58243056  54131277
20      ML    513969    467676    1491832   1475057
21      MN    643728    558059    1438586   1417208
22      MP  20251897  17195547   37612306  35014503
23      MZ    442818    434839     555339    541867
24      NL    460630    346571    1024649    953853
25      OR  10267227   9213425   21212136  20762082
26      PB   5748473   4566822   14639465  13103873
27      PY    376669    396699     612511    635442
28      RJ  19697748  17810716   35550997  32997440
29      SK    359355    299299     323070    287507
30      TG   8281834   7688120   17704078  17489900
31      TN  12316820  12044531   36137975  36009055
32      TR   1034970    983981    1874376   1799541
33      UP  31257210  24318922  104480510  95331831
34      UT   3693299   3522364    5137773   4948519
35      WB  17504359  15595838   46809027  44467088

In [39]:
data_state['vaccinationratio'] = data_state['Female'].astype(float)/data_state['Male'].astype(float)

In [40]:
data_state['populationratio'] = data_state['TOT_F'].astype(float)/data_state['TOT_M'].astype(float)

In [41]:
data_state['ratioofratios'] = data_state['vaccinationratio']/data_state['populationratio']

In [42]:
data_overall = pd.DataFrame({'Overall':['India']})

In [43]:
data_overall['Male'] = data_state['Male'].sum()

In [44]:
data_overall['Female'] = data_state['Female'].sum()

In [45]:
data_overall['TOT_M'] = data_state['TOT_M'].sum()
data_overall['TOT_F'] = data_state['TOT_F'].sum()

In [46]:
data_overall['vaccinationratio'] = data_overall['Female'].astype(float)/data_overall['Male'].astype(float)

In [47]:
data_overall['populationratio'] = data_overall['TOT_F'].astype(float)/data_overall['TOT_M'].astype(float)

In [48]:
data_overall['ratioofratios'] = data_overall['vaccinationratio']/data_overall['populationratio']

In [49]:
data_overall = data_overall[['Overall','vaccinationratio','populationratio','ratioofratios']]

In [50]:
data_state = data_state[['Stateid','vaccinationratio','populationratio','ratioofratios']]

In [51]:
data_state.sort_values("ratioofratios",axis=0,ascending = True,inplace = True ,kind = 'quicksort',na_position = 'last' )

In [52]:
print(data_district)
print(data_state)
print(data_overall)

                    districtid  vaccinationratio  populationratio  \
387                 NL_Kiphire          0.531756         0.956225
123  DN_Dadra and Nagar Haveli          0.441210         0.773890
166                     HR_Nuh          0.537717         0.907100
207                JK_Srinagar          0.539059         0.899529
504            TN_Kancheepuram          0.652007         0.986257
..                         ...               ...              ...
24            AP_West Godavari          1.265055         1.003629
20               AP_Srikakulam          1.319140         1.014636
514          TN_Ramanathapuram          1.278132         0.982611
525          TN_Tiruvannamalai          1.327524         0.994415
12                  AP_Kurnool          1.330980         0.987745

     ratioofratios
387       0.556099
123       0.570119
166       0.592787
207       0.599268
504       0.661093
..             ...
24        1.260481
20        1.300111
514       1.300751
525       1.334981
12        1.347493

[636 rows x 4 columns]
   Stateid  vaccinationratio  populationratio  ratioofratios
8       DN          0.497221         0.705965       0.704315
24      NL          0.752385         0.930907       0.808228
14      JK          0.745552         0.891917       0.835899
33      UP          0.778026         0.912437       0.852691
2       AR          0.804207         0.939009       0.856442
7       DL          0.744100         0.867957       0.857300
13      JH          0.822335         0.948465       0.867016
18      LD          0.831994         0.946472       0.879048
21      MN          0.866917         0.985140       0.879994
9       GA          0.859664         0.973300       0.883246
26      PB          0.794441         0.895106       0.887538
10      GJ          0.825506         0.919253       0.898018
19      MH          0.844180         0.929403       0.908303
22      MP          0.849083         0.930932       0.912079
12      HR          0.803284         0.878619       0.914258
25      OR          0.897363         0.978783       0.916814
20      ML          0.909930         0.988755       0.920278
5       CH          0.754690         0.817664       0.922983
3       AS          0.895723         0.957758       0.935229
29      SK          0.832878         0.889922       0.935901
35      WB          0.890969         0.949968       0.937893
30      TG          0.928311         0.987902       0.939679
4       BR          0.872921         0.917888       0.951009
28      RJ          0.904201         0.928172       0.974174
31      TN          0.977893         0.996433       0.981394
34      UT          0.953718         0.963164       0.990192
32      TR          0.950734         0.960075       0.990271
6       CT          0.986485         0.990637       0.995809
16      KL          1.086253         1.084308       1.001794
0       AN          0.881016         0.875975       1.005754
23      MZ          0.981981         0.975741       1.006396
27      PY          1.053177         1.037438       1.015171
15      KA          0.990106         0.972938       1.017645
11      HP          0.997304         0.971526       1.026534
17      LA          0.771706         0.749783       1.029239
1       AP          1.191942         0.996389       1.196263
  Overall  vaccinationratio  populationratio  ratioofratios
0   India          0.889677         0.942679       0.943776

In [53]:
data_district.to_csv('./Output_Files/Q6/district-vaccination-population-ratio.csv',index=False)
data_state.to_csv('./Output_Files/Q6/state-vaccination-population-ratio.csv',index=False)
data_overall.to_csv('./Output_Files/Q6/overall-vaccination-population-ratio.csv',index=False)