# 8.For each state, district and overall, find the following ratio: total number of persons vaccinated (both 1 and 2 doses) to total population.

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta 
import os

In [2]:
distkey = 'cowin_vaccine_data_districtwise.csv'

In [3]:
census_2011 ="Census2011data.xlsx"
df_census=pd.read_excel(census_2011,usecols= 'A,G,H,I,K')

In [4]:
Name_changes={"JAMMU & KASHMIR": "Jammu and Kashmir",
               "ANDAMAN & NICOBAR ISLANDS": "Andaman and Nicobar Islands",
               "DADRA & NAGAR HAVELI": "Dadra and Nagar Haveli and Daman and Diu",
               "DAMAN & DIU": "Dadra and Nagar Haveli and Daman and Diu","Mumbai Suburban":"Mumbai"}
state_id_change={26:25}

df_census.replace({'Name': Name_changes,"State":state_id_change},inplace= True)

In [5]:
df_census=df_census.groupby(["State","Level","Name","TRU"], as_index=False)["TOT_P"].sum()

In [6]:
df_state = df_census[df_census['Level'] == 'STATE']
df_state = df_state.groupby(['Name'])['State'].max().reset_index(name='Stateid') 
df_state = df_state.rename(columns = {'Name':'State Name'})
print(df_state)

                                  State Name  Stateid
0                             ANDHRA PRADESH       28
1                          ARUNACHAL PRADESH       12
2                                      ASSAM       18
3                Andaman and Nicobar Islands       35
4                                      BIHAR       10
5                                 CHANDIGARH        4
6                               CHHATTISGARH       22
7   Dadra and Nagar Haveli and Daman and Diu       25
8                                        GOA       30
9                                    GUJARAT       24
10                                   HARYANA        6
11                          HIMACHAL PRADESH        2
12                                 JHARKHAND       20
13                         Jammu and Kashmir        1
14                                 KARNATAKA       29
15                                    KERALA       32
16                               LAKSHADWEEP       31
17                            MADHYA PRADESH       23
18                               MAHARASHTRA       27
19                                   MANIPUR       14
20                                 MEGHALAYA       17
21                                   MIZORAM       15
22                                  NAGALAND       13
23                              NCT OF DELHI        7
24                                    ODISHA       21
25                                PUDUCHERRY       34
26                                    PUNJAB        3
27                                 RAJASTHAN        8
28                                    SIKKIM       11
29                                TAMIL NADU       33
30                                   TRIPURA       16
31                             UTTAR PRADESH        9
32                               UTTARAKHAND        5
33                               WEST BENGAL       19

In [7]:
census_data = pd.merge(df_census,df_state,how='inner',left_on='State',right_on = ['Stateid'])

In [8]:
census_data

,State,Level,Name,TRU,TOT_P,State Name,Stateid
0,1,DISTRICT,Anantnag,Rural,795805,Jammu and Kashmir,1
1,1,DISTRICT,Anantnag,Total,1078692,Jammu and Kashmir,1
2,1,DISTRICT,Anantnag,Urban,282887,Jammu and Kashmir,1
3,1,DISTRICT,Badgam,Rural,655833,Jammu and Kashmir,1
4,1,DISTRICT,Badgam,Total,753745,Jammu and Kashmir,1
...,...,...,...,...,...,...,...
2014,35,DISTRICT,South Andaman,Total,238142,Andaman and Nicobar Islands,35
2015,35,DISTRICT,South Andaman,Urban,140747,Andaman and Nicobar Islands,35
2016,35,STATE,Andaman and Nicobar Islands,Rural,237093,Andaman and Nicobar Islands,35
2017,35,STATE,Andaman and Nicobar Islands,Total,380581,Andaman and Nicobar Islands,35
2018,35,STATE,Andaman and Nicobar Islands,Urban,143488,Andaman and Nicobar Islands,35

In [9]:
census_data = census_data[census_data['Level'] == 'DISTRICT']
census_data

,State,Level,Name,TRU,TOT_P,State Name,Stateid
0,1,DISTRICT,Anantnag,Rural,795805,Jammu and Kashmir,1
1,1,DISTRICT,Anantnag,Total,1078692,Jammu and Kashmir,1
2,1,DISTRICT,Anantnag,Urban,282887,Jammu and Kashmir,1
3,1,DISTRICT,Badgam,Rural,655833,Jammu and Kashmir,1
4,1,DISTRICT,Badgam,Total,753745,Jammu and Kashmir,1
...,...,...,...,...,...,...,...
2011,35,DISTRICT,North & Middle Andaman,Total,105597,Andaman and Nicobar Islands,35
2012,35,DISTRICT,North & Middle Andaman,Urban,2741,Andaman and Nicobar Islands,35
2013,35,DISTRICT,South Andaman,Rural,97395,Andaman and Nicobar Islands,35
2014,35,DISTRICT,South Andaman,Total,238142,Andaman and Nicobar Islands,35
2015,35,DISTRICT,South Andaman,Urban,140747,Andaman and Nicobar Islands,35

In [10]:
census_data = census_data[['State Name','Name','TRU','TOT_P']] #Name is column with district names

In [11]:
rename_dist = {'Allahabad ':'Prayagraj','Ahmadabad':'Ahmedabad', 'East District':'East Sikkim',
        'North  District': 'North Sikkim', 'South District':'South Sikkim','West District':'West Sikkim','Garhwal':'Pauri Garhwal',
         'Gulbarga':'Kalaburagi','Ahmadnagar':'Ahmednagar','Almora\n':'Almora','Amritsar ':'Amritsar',
       'Anand  ': 'Anand','Anugul  ':'Angul','Ariyalur  ':'Ariyalur','Badgam':'Budgam','Bagalkot ':'Bagalkote',
        'Baleshwar':'Balasore','Banas Kantha':'Banaskantha','Bandipore':'Bandipora','Bangalore Rural':'Bengaluru Rural',
        'Bangalore':'Bengaluru Urban','Bijapur':'Vijayapura',
        'Bankura ':'Bankura','Bara Banki':'Barabanki','Baramula':'Baramulla',"Barddhaman ":"Barddhaman",'Barwani ':'Barwani','Baudh':'Boudh',
        'Belgaum':'Belagavi','Bellary':'Ballari', 'Bid':'Beed','Bulandshahr ':'Bulandshahr','Buldana':'Buldhana',
        'Central':'Central Delhi','Chamarajanagar':'Chamarajanagara','Chikmagalur':'Chikkamagaluru',
         'Chittaurgarh':'Chittorgarh', 'Dadra & Nagar Haveli':'Dadra and Nagar Haveli', 'Darjiling ':'Darjeeling',
         'Debagarh':'Deogarh', 'Dhamtari ':'Dhamtari', 'Dhaulpur':'Dholpur', 'Dimapur ':'Dimapur', 'Dindori ':'Dindori',
        'Dohad  ':'Dahod', 'East':'East Delhi', 'Faizabad':'Ayodhya', 'Firozpur':'Ferozepur', 'Ganganagar ':'Ganganagar',
         'Garhwa ':'Garhwa', 'Gondiya':'Gondia', 'Gurgaon':'Gurugram', 'Haora ':'Howrah', 'Harda ':'Harda',
         'Hardwar':'Haridwar', 'Hugli ':'Hooghly', 'Idukki ':'Idukki','Jagatsinghapur ':'Jagatsinghpur',
         'Jaintia Hills':'West Jaintia Hills', 'Jajapur  ':'Jajpur', 'Jalaun ':'Jalaun', 'Jalor':'Jalore',
         'Jalpaiguri ':'Jalpaiguri', 'Janjgir - Champa':'Janjgir Champa', 'Jashpur ':'Jashpur', 'Jehanabad ':'Jehanabad',
        'Jhunjhunun':'Jhunjhunu', 'Jyotiba Phule Nagar':'Amroha', 'Kachchh':'Kutch', 'Kaimur (Bhabua)':'Kaimur',
         'Kanniyakumari':'Kanyakumari', 'Kanshiram Nagar':'Kasganj', 'Kapurthala ':'Kapurthala', 'Karur ':'Karur',
         'Katni ':'Katni', 'Kendrapara ': 'Kendrapara', 'Khandwa (East Nimar)':'Khandwa','Khargone (West Nimar)':'Khargone',
         'Kheri':'Lakhimpur Kheri', 'Khordha ':'Khordha', 'Koch Bihar ':'Cooch Behar', 'Kodarma':'Koderma', 'Korba ':'Korba',
         'Lahul & Spiti':'Lahaul and Spiti', 'Leh(Ladakh)':'Leh', 'Mahamaya Nagar':'Hathras', 'Mahbubnagar':'Mahabubnagar',
        'Mahesana':'Mehsana', 'Mahrajganj':'Maharajganj', 'Maldah ':'Malda', 'Malkangiri  ':'Malkangiri', 'Mewat ':'Nuh',
         'Muktsar':'Sri Muktsar Sahib', 'Murshidabad ':'Murshidabad', 'Mysore':'Mysuru', 'Nabarangapur ':'Nabarangapur',
         'Nadia ':'Nadia', 'Nagapattinam  ': 'Nagapattinam','Namakkal   ':'Namakkal', 'Narsimhapur':'Narsinghpur', 'Navsari  ':'Navsari', 'Nayagarh  ':'Nayagarh',
         'Neemuch ':'Neemuch', 'North':'North Delhi', 'North  & Middle Andaman':'North and Middle Andaman', 'North East':'North East Delhi',
         'North Twenty Four Parganas':'North 24 Parganas', 'North West':'North West Delhi', 'Palwal ':'Palwal',
         'Panch Mahals':'Panchmahal','Pashchim Champaran':'West Champaran', 'Pashchimi Singhbhum':'West Singhbhum', 'Patan  ':'Patan',
         'Perambalur  ':'Perambalur', 'Porbandar ':'Porbandar', 'Purba Champaran':'East Champaran', 'Purbi Singhbhum': 'East Singhbhum',
         'Puruliya':'Purulia', 'Rangareddy':'Ranga Reddy',"Raigarh":"Raigad",'Rayagada  ':'Rayagada','Sabar Kantha':'Sabarkantha', 'Sahibzada Ajit Singh Nagar':'S.A.S. Nagar', 'Sant Ravidas Nagar (Bhadohi)':'Bhadohi',
         'Shahid Bhagat Singh Nagar ':'Shahid Bhagat Singh Nagar', 'Sheopur ':'Sheopur', 'Shimoga':'Shivamogga',
         'Shupiyan': 'Shopiyan', 'South':'South Delhi','South Tripura ':'South Tripura', 'South Twenty Four Parganas':'South 24 Parganas', 'South West':'South West Delhi',
         'Sri Potti Sriramulu Nellore':'S.P.S. Nellore', 'Tamenglong ':'Tamenglong', 'The Dangs':'Dang',
         'The Nilgiris':'Nilgiris', 'Theni  ': 'Theni', 'Tirunelveli ':'Tirunelveli', 'Tumkur':'Tumakuru',
         'West':'West Delhi', 'West Tripura ':'West Tripura', 'Y.S.R.':'Y.S.R. Kadapa'}

In [12]:
census_data.replace({'Name':rename_dist},inplace=True)

C:\Users\saiki\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [13]:
census_data['State Name'] = census_data['State Name'].str.upper()
census_data['Name'] = census_data['Name'].str.upper()

<ipython-input-1-c143b7bdfa3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_data['State Name'] = census_data['State Name'].str.upper()
<ipython-input-1-c143b7bdfa3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_data['Name'] = census_data['Name'].str.upper()

In [14]:
census_data = census_data[census_data['TRU'] == 'Total']

In [15]:
census_data

                       State Name                      Name    TRU    TOT_P
1               JAMMU AND KASHMIR                  ANANTNAG  Total  1078692
4               JAMMU AND KASHMIR                    BUDGAM  Total   753745
7               JAMMU AND KASHMIR                 BANDIPORA  Total   392232
10              JAMMU AND KASHMIR                 BARAMULLA  Total  1008039
13              JAMMU AND KASHMIR                      DODA  Total   409936
...                           ...                       ...    ...      ...
1999                   PUDUCHERRY                PUDUCHERRY  Total   950289
2002                   PUDUCHERRY                     YANAM  Total    55626
2008  ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  Total    36842
2011  ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  Total   105597
2014  ANDAMAN AND NICOBAR ISLANDS             SOUTH ANDAMAN  Total   238142

[639 rows x 4 columns]

In [16]:
#taking cowin data
df1 = pd.read_csv(distkey,index_col=0,usecols=[0,1,2,3,4,5,2109,2110],low_memory=False)

In [17]:
df1 = df1[df1['14/08/2021.3'] != 'First Dose Administered']

In [18]:
df1 = df1.rename(columns = {'14/08/2021.3':'First Dose Administered','14/08/2021.4' : 'Second Dose Administered'})

In [19]:
df1 = df1[['State','State_Code','District','District_Key','First Dose Administered','Second Dose Administered']]

In [20]:
df1['State'] = df1['State'].str.upper()
df1['District'] = df1['District'].str.upper()

In [21]:
df1.replace({'State': {"DELHI": "NCT OF DELHI","TELANGANA": "ANDHRA PRADESH"}},inplace= True)

In [22]:
dist_changes={"WARANGAL RURAL":"WARANGAL","WARANGAL URBAN":"WARANGAL","KOMARAM BHEEM":"ADILABAD","MANCHERIAL":"ADILABAD",
"NIRMAL":"ADILABAD","WANAPARTHY":"MAHABUBNAGAR","NAGARKURNOOL":"MAHABUBNAGAR","KAMAREDDY":"NIZAMABAD","SANGAREDDY":"MEDAK",
"SIDDIPET":"MEDAK","BHADRADRI KOTHAGUDEM":"KHAMMAM","JAGTIAL":"KARIMNAGAR","JANGAON":"NALGONDA",
"JAYASHANKAR BHUPALAPALLY":"KARIMNAGAR","JOGULAMBA GADWAL":"MAHABUBNAGAR","MEDCHAL MALKAJGIRI":"RANGA REDDY",
"MULUGU":"WARANGAL","NARAYANPET":"MAHABUBNAGAR",
"PEDDAPALLI":"KARIMNAGAR","RAJANNA SIRCILLA":"KARIMNAGAR","SURYAPET":"NALGONDA","VIKARABAD":"RANGA REDDY",
              "YADADRI BHUVANAGIRI":"NALGONDA"
             }
dist_key_changes={"TG_Warangal Rural":"TG_Warangal","TG_Warangal Urban":"TG_Warangal","TG_Komaram Bheem":"TG_Adilabad",
"TG_Mancherial":"TG_Adilabad","TG_Nirmal":"TG_Adilabad","TG_Wanaparthy":"TG_Mahabubnagar","TG_Nagarkurnool":"TG_Mahabubnagar",
"TG_Kamareddy":"TG_Nizamabad","TG_Sangareddy":"TG_Medak","TG_Siddipet":"TG_Medak","TG_Bhadradri Kothagudem":"TG_Khammam",
"TG_Jagtial":"TG_Karimnagar","TG_Jangaon":"TG_Nalgonda","TG_Jayashankar Bhupalapally":"TG_Karimnagar",
"TG_Jogulamba Gadwal":"TG_Mahabubnagar","TG_Medchal Malkajgiri":"TG_Ranga Reddy","TG_Mulugu":"TG_Warangal",
"TG_Narayanpet":"TG_Mahabubnagar","TG_Peddapalli":"TG_Karimnagar","TG_Rajanna Sircilla":"TG_Karimnagar",
"TG_Suryapet":"TG_Nalgonda","TG_Vikarabad":"TG_Ranga Reddy","TG_Yadadri Bhuvanagiri":"TG_Nalgonda"
                 }

In [23]:
df1.replace({'District': dist_changes,"District_Key":dist_key_changes},inplace= True)

In [24]:
df1.replace({'District': {"PASCHIM BARDHAMAN":"BARDDHAMAN","PURBA BARDHAMAN":"BARDDHAMAN"},
             "District_Key":{"WB_Paschim Bardhaman":"WB_Barddhaman","WB_Purba Bardhaman":"WB_Barddhaman"}},inplace= True)

In [25]:
df1.replace({'State': {"LADAKH": "JAMMU AND KASHMIR"}},inplace= True)

In [26]:
df1["First Dose Administered"]=df1["First Dose Administered"].astype(int)
df1["Second Dose Administered"]=df1["Second Dose Administered"].astype(int)
df1=df1.groupby(["State","State_Code","District","District_Key"], as_index=False).agg({'First Dose Administered':'sum','Second Dose Administered':'sum'}).reset_index()

In [27]:
census_data

                       State Name                      Name    TRU    TOT_P
1               JAMMU AND KASHMIR                  ANANTNAG  Total  1078692
4               JAMMU AND KASHMIR                    BUDGAM  Total   753745
7               JAMMU AND KASHMIR                 BANDIPORA  Total   392232
10              JAMMU AND KASHMIR                 BARAMULLA  Total  1008039
13              JAMMU AND KASHMIR                      DODA  Total   409936
...                           ...                       ...    ...      ...
1999                   PUDUCHERRY                PUDUCHERRY  Total   950289
2002                   PUDUCHERRY                     YANAM  Total    55626
2008  ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  Total    36842
2011  ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  Total   105597
2014  ANDAMAN AND NICOBAR ISLANDS             SOUTH ANDAMAN  Total   238142

[639 rows x 4 columns]

In [28]:
df1

,index,State,State_Code,District,District_Key,First Dose Administered,Second Dose Administered
0,0,ANDAMAN AND NICOBAR ISLANDS,AN,NICOBARS,AN_Nicobars,22081,8110
1,1,ANDAMAN AND NICOBAR ISLANDS,AN,NORTH AND MIDDLE ANDAMAN,AN_North and Middle Andaman,68043,29281
2,2,ANDAMAN AND NICOBAR ISLANDS,AN,SOUTH ANDAMAN,AN_South Andaman,142585,59896
3,3,ANDHRA PRADESH,AP,ANANTAPUR,AP_Anantapur,1364374,597346
4,4,ANDHRA PRADESH,AP,CHITTOOR,AP_Chittoor,1565591,640864
...,...,...,...,...,...,...,...
701,701,WEST BENGAL,WB,PASCHIM MEDINIPUR,WB_Paschim Medinipur,948146,380217
702,702,WEST BENGAL,WB,PURBA MEDINIPUR,WB_Purba Medinipur,1539152,672014
703,703,WEST BENGAL,WB,PURULIA,WB_Purulia,580596,206567
704,704,WEST BENGAL,WB,SOUTH 24 PARGANAS,WB_South 24 Parganas,2067595,793261
705,705,WEST BENGAL,WB,UTTAR DINAJPUR,WB_Uttar Dinajpur,540958,173055

In [29]:
data_final  = pd.merge(census_data,df1,how='inner',left_on=['State Name','Name'],right_on=['State','District'],sort=True)

In [30]:
data_final

,State Name,Name,TRU,TOT_P,index,State,State_Code,District,District_Key,First Dose Administered,Second Dose Administered
0,ANDAMAN AND NICOBAR ISLANDS,NICOBARS,Total,36842,0,ANDAMAN AND NICOBAR ISLANDS,AN,NICOBARS,AN_Nicobars,22081,8110
1,ANDAMAN AND NICOBAR ISLANDS,NORTH AND MIDDLE ANDAMAN,Total,105597,1,ANDAMAN AND NICOBAR ISLANDS,AN,NORTH AND MIDDLE ANDAMAN,AN_North and Middle Andaman,68043,29281
2,ANDAMAN AND NICOBAR ISLANDS,SOUTH ANDAMAN,Total,238142,2,ANDAMAN AND NICOBAR ISLANDS,AN,SOUTH ANDAMAN,AN_South Andaman,142585,59896
3,ANDHRA PRADESH,ADILABAD,Total,2741239,16,ANDHRA PRADESH,TG,ADILABAD,TG_Adilabad,552983,203891
4,ANDHRA PRADESH,ANANTAPUR,Total,4081148,3,ANDHRA PRADESH,AP,ANANTAPUR,AP_Anantapur,1364374,597346
...,...,...,...,...,...,...,...,...,...,...,...
631,WEST BENGAL,PASCHIM MEDINIPUR,Total,5913457,701,WEST BENGAL,WB,PASCHIM MEDINIPUR,WB_Paschim Medinipur,948146,380217
632,WEST BENGAL,PURBA MEDINIPUR,Total,5095875,702,WEST BENGAL,WB,PURBA MEDINIPUR,WB_Purba Medinipur,1539152,672014
633,WEST BENGAL,PURULIA,Total,2930115,703,WEST BENGAL,WB,PURULIA,WB_Purulia,580596,206567
634,WEST BENGAL,SOUTH 24 PARGANAS,Total,8161961,704,WEST BENGAL,WB,SOUTH 24 PARGANAS,WB_South 24 Parganas,2067595,793261
635,WEST BENGAL,UTTAR DINAJPUR,Total,3007134,705,WEST BENGAL,WB,UTTAR DINAJPUR,WB_Uttar Dinajpur,540958,173055

In [31]:
data_district = data_final[['District_Key','TOT_P','First Dose Administered','Second Dose Administered']]
data_district = data_district.rename(columns={'District_Key':'districtid'})

In [32]:
data_district['vaccinateddose1ratio'] = data_district['First Dose Administered'].astype(float)/data_district['TOT_P'].astype(float)
data_district['vaccinateddose2ratio'] = data_district['Second Dose Administered'].astype(float)/data_district['TOT_P'].astype(float)

In [33]:
#VACCINATION RATIO IS VERY HIGH FOR NEW DELHI
data_district[data_district["districtid"]=="DL_New Delhi"]

,districtid,TOT_P,First Dose Administered,Second Dose Administered,vaccinateddose1ratio,vaccinateddose2ratio
399,DL_New Delhi,142004,648056,320117,4.563646,2.254282

In [34]:
data_district = data_district[['districtid','vaccinateddose1ratio','vaccinateddose2ratio']]

In [35]:
data_district.sort_values("vaccinateddose1ratio",axis=0,ascending = True,inplace = True ,kind = 'quicksort',na_position = 'last' )
data_district.drop_duplicates(subset ="districtid",keep='last', inplace=True)

In [36]:
len(data_district['districtid'])

636

In [37]:
data_state = data_final[['State_Code','TOT_P','First Dose Administered','Second Dose Administered']]

In [38]:
data_state

    State_Code    TOT_P  First Dose Administered  Second Dose Administered
0           AN    36842                    22081                      8110
1           AN   105597                    68043                     29281
2           AN   238142                   142585                     59896
3           TG  2741239                   552983                    203891
4           AP  4081148                  1364374                    597346
..         ...      ...                      ...                       ...
631         WB  5913457                   948146                    380217
632         WB  5095875                  1539152                    672014
633         WB  2930115                   580596                    206567
634         WB  8161961                  2067595                    793261
635         WB  3007134                   540958                    173055

[636 rows x 4 columns]

In [39]:
data_state = data_state.rename(columns={'State_Code':'Stateid'})
data_state = data_state.groupby(['Stateid'],as_index=False).agg({'TOT_P':'sum','First Dose Administered':'sum','Second Dose Administered':'sum'})
print(data_state)

   Stateid      TOT_P  First Dose Administered  Second Dose Administered
0       AN     380581                   232709                     97287
1       AP   49386799                 18516141                   6485212
2       AR    1375723                   552299                    160272
3       AS   31205576                 10257764                   2241434
4       BR  104099452                 25167378                   4859267
5       CH    1055450                   733579                    244351
6       CT   23795984                  6365264                   1975766
7       DL   16787941                  6901107                   2735945
8       DN     586956                   598380                     90421
9       GA    1458545                  1112815                    329909
10      GJ   60439692                 27180154                   8618981
11      HP    6864602                  4950789                   1513695
12      HR   25351462                 10184272                   3103139
13      JH   32988134                  8797921                   2134931
14      JK   12267013                  5546227                   1573432
15      KA   61095297                 26662330                   7837391
16      KL   33406061                 17281691                   6657813
17      LA     274289                   189535                     72825
18      LD      64473                    51678                     17875
19      MH  112374333                 35781051                  12597205
20      ML    2966889                   770413                    211351
21      MN    2855794                   976130                    225946
22      MP   72626809                 31397215                   6057613
23      MZ    1097206                   660109                    217691
24      NL    1978502                   639379                    167940
25      OR   41974218                 15009657                   4474924
26      PB   27743338                  7934030                   2382524
27      PY    1247953                   616278                    157236
28      RJ   68548437                 28531782                   8983559
29      SK     610577                   500829                    158042
30      TG   35193978                 11886754                   4086062
31      TN   72147030                 19862427                   4503267
32      TR    3673917                  1481385                    537876
33      UP  199812341                 46714111                   8881526
34      UT   10086292                  5495857                   1722454
35      WB   91276115                 24002795                   9102608

In [40]:
data_state['vaccinateddose1ratio'] = data_state['First Dose Administered'].astype(float)/data_state['TOT_P'].astype(float)
data_state['vaccinateddose2ratio'] = data_state['Second Dose Administered'].astype(float)/data_state['TOT_P'].astype(float)

In [41]:
data_overall = pd.DataFrame({'Overall':['India']})
data_overall['TOT_P'] = data_state['TOT_P'].sum()
data_overall['First Dose Administered'] = data_state['First Dose Administered'].sum()

In [42]:
data_overall

  Overall       TOT_P  First Dose Administered
0   India  1209097759                403542235

In [43]:
data_overall['Second Dose Administered'] = data_state['Second Dose Administered'].sum()

In [44]:
data_overall['vaccinateddose1ratio'] = data_overall['First Dose Administered'].astype(float)/data_overall['TOT_P'].astype(float)
data_overall['vaccinateddose2ratio'] = data_overall['Second Dose Administered'].astype(float)/data_overall['TOT_P'].astype(float)

In [45]:
data_overall = data_overall[['Overall','vaccinateddose1ratio','vaccinateddose2ratio']]

In [46]:
data_state = data_state[['Stateid','vaccinateddose1ratio','vaccinateddose2ratio']]

In [47]:
data_state.sort_values("vaccinateddose1ratio",axis=0,ascending = True,inplace = True ,kind = 'quicksort',na_position = 'last' )

In [48]:
print(data_district)
print(data_state)
print(data_overall)

                    districtid  vaccinateddose1ratio  vaccinateddose2ratio
367                MN_Senapati              0.052756              0.010348
504            TN_Kancheepuram              0.076711              0.011720
445               PB_Ferozepur              0.089363              0.022857
30             AR_Kurung Kumey              0.093119              0.030920
526                 TN_Vellore              0.102855              0.030738
..                         ...                   ...                   ...
123  DN_Dadra and Nagar Haveli              1.017314              0.120756
158                HR_Gurugram              1.019913              0.341819
124                   DN_Daman              1.102656              0.184514
397           DL_Central Delhi              1.405676              0.528620
399               DL_New Delhi              4.563646              2.254282

[636 rows x 3 columns]
   Stateid  vaccinateddose1ratio  vaccinateddose2ratio
33      UP              0.233790              0.044449
4       BR              0.241763              0.046679
20      ML              0.259670              0.071237
35      WB              0.262969              0.099726
13      JH              0.266700              0.064718
6       CT              0.267493              0.083029
31      TN              0.275305              0.062418
26      PB              0.285980              0.085877
19      MH              0.318409              0.112100
24      NL              0.323163              0.084882
3       AS              0.328716              0.071828
30      TG              0.337750              0.116101
21      MN              0.341807              0.079118
25      OR              0.357592              0.106611
1       AP              0.374921              0.131315
2       AR              0.401461              0.116500
12      HR              0.401723              0.122405
32      TR              0.403217              0.146404
7       DL              0.411075              0.162971
28      RJ              0.416228              0.131054
22      MP              0.432309              0.083407
15      KA              0.436406              0.128281
10      GJ              0.449707              0.142605
14      JK              0.452125              0.128265
27      PY              0.493831              0.125995
16      KL              0.517322              0.199300
34      UT              0.544884              0.170772
23      MZ              0.601627              0.198405
0       AN              0.611457              0.255628
17      LA              0.691005              0.265505
5       CH              0.695039              0.231514
11      HP              0.721206              0.220507
9       GA              0.762962              0.226190
18      LD              0.801545              0.277248
29      SK              0.820255              0.258840
8       DN              1.019463              0.154051
  Overall  vaccinateddose1ratio  vaccinateddose2ratio
0   India              0.333755              0.095292

In [49]:
data_district.to_csv('./Output_Files/Q8/district-vaccinated-dose-ratio.csv',index=False)
data_state.to_csv('./Output_Files/Q8/state-vaccinated-dose-ratio.csv',index=False)
data_overall.to_csv('./Output_Files/Q8/overall-vaccinated-dose-ratio.csv',index=False)